<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".unityweb" />
      <mimeMap fileExtension=".unityweb" mimeType="application/octet-stream" />
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <remove fileExtension=".data" />
      <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <!-- Configure IISNode if needed, but usually Azure sets this up automatically. We just need staticContent -->
    <rewrite>
      <outboundRules>
        <rule name="Append br Content-Encoding header">
          <match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern="\.unityweb$" />
          </conditions>
          <action type="Rewrite" value="br" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
